@model IEnumerable<LinkShare.BOL.Url>

@if (TempData["Msg"] != null)
{
<div class="alert alert-dismissable alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
    @TempData["Msg"].ToString()
</div>
}

<table class="table table-responsive table-bordered table-striped table-hover">
        <tr>

            <th>@Html.CheckBox("selectall")</th>
            <th>
                @Html.DisplayNameFor(model => model.UrlTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlDesc)
            </th>
            <th>
                Approved
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUser.AppUserEmail)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.CheckBox(item.UrlId.ToString(),false,new{@class="ckb",Id=item.UrlId})
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.UrlTitle)
                </td>
                <td>
                    <a target="_blank" href=@item.UrlLink>@item.UrlLink</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UrlDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsApproved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppUser.AppUserEmail)
                </td>
            </tr>
        }
    </table>